<!DOCTYPE html>
<html lang="en">
<head>
  <title>Care Helper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/capture.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<!--
  	<div class="jumbotron text-center header">
		<h1>My Care</h1>
		<p>Take a picture of what you want to care for!</p> 
	</div>

	<div class="container">
		<div class="row">
			<div class="col camera">
				<video id="video">Video stream not available.</video>
				<button id="startbutton">Take photo</button> 
			</div>
			<div class="col output">
				<img id="photo" alt="The screen capture will appear in this box."> 
			</div>
		</div>
	</div> -->

<div class="jumbotron text-center">
  <h1>Care Helper</h1>
  <p>Helps you care for your new friend!</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col camera">
          <video id="video">Video stream not available.</video>
          <button id="startbutton">Take photo</button>
    </div>
    <canvas id="canvas">
    <div class="col output">
			<img id="photo" alt="The screen capture will appear in this box."> 
    </div>
  </div>
  <div class="row">
    <div class="btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" id="detectBtn">Detect</button>
    </div>
  </div>
</div>
<iframe id="careDetails" src="" width="100%%" height="800"></iframe>
<script src="/static/detection.js"></script>
</body>
</html>
